*.o
countdown
treintre
tabelline
massimo
duemaggiori
quadrato
quadratovuoto
cerchio
cifra
palindromi
binario
cripta
decripta
sequenze
sommaprodotto
fattoriale
figure
rombo
pigreco
summvett
address
caratteri
basi